<div id="<%= dom_id carrier %>">
  <p>
    <strong>Address:</strong>
    <%= carrier.address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= carrier.country %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= carrier.email %>
  </p>

  <p>
    <strong>Mc:</strong>
    <%= carrier.mc %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= carrier.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= carrier.phone %>
  </p>

  <p>
    <strong>Usdot:</strong>
    <%= carrier.usdot %>
  </p>

</div>
