<div id="<%= dom_id load %>">
  <p>
    <strong>Pickup location:</strong>
    <%= load.pickup_location %>
  </p>

  <p>
    <strong>Delivery location:</strong>
    <%= load.delivery_location %>
  </p>

  <p>
    <strong>Pickup date:</strong>
    <%= load.pickup_date %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= load.equipment_type %>
  </p>

  <p>
    <strong>Shipper phone:</strong>
    <%= load.shipper_phone %>
  </p>

  <p>
    <strong>Shipper email:</strong>
    <%= load.shipper_email %>
  </p>

</div>
