<div id="<%= dom_id order %>">
  <p>
    <strong>Carrier:</strong>
    <%= order.carrier_id %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= order.delivery_address %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= order.equipment_type %>
  </p>

  <p>
    <strong>Orderer:</strong>
    <%= order.orderer_id %>
  </p>

  <p>
    <strong>Pickup date:</strong>
    <%= order.pickup_date %>
  </p>

  <p>
    <strong>Pickup address:</strong>
    <%= order.pickup_address %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
