<div id="<%= dom_id shipper %>">
  <p>
    <strong>Address:</strong>
    <%= shipper.address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= shipper.country %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= shipper.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= shipper.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= shipper.phone %>
  </p>

</div>
