<div id="<%= dom_id broker %>">
  <p>
    <strong>Address:</strong>
    <%= broker.address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= broker.country %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= broker.email %>
  </p>

  <p>
    <strong>Mc:</strong>
    <%= broker.mc %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= broker.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= broker.phone %>
  </p>

  <p>
    <strong>Usdot:</strong>
    <%= broker.usdot %>
  </p>

</div>
