<%= form_with(model: broker) do |form| %>
  <% if broker.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(broker.errors.count, "error") %> prohibited this broker from being saved:</h2>

      <ul>
        <% broker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.number_field :country %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :mc, style: "display: block" %>
    <%= form.text_field :mc %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :usdot, style: "display: block" %>
    <%= form.text_field :usdot %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
